.Modal {
  position: absolute;
  top: 50%; right: 0; left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  @include box-shadow-gray();
  background: $bg-content;

  .Modal__header {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 64px;
    height: 3rem;
    background: $bg-background;
    font-size: 1.2rem;
    line-height: 3rem;
    @include box-shadow-gray();
    z-index: 1;

    input {
      padding-left: $buffer-sm;
      border: none;
      background: $bg-background;
      letter-spacing: 1px;
    }

    input:focus {
      outline: none;
    }

    .Modal__headerIcon {
      position: relative;

      .icon {
        @include center();
        font-size: 24px;
      }
    }
  }

  .Modal__footer {
    height: 2rem;
    background: $bg-content;

    button {
      float: right;
      background: none;
      border: none;
      text-transform: uppercase;
      font-size: 0.8rem;
      line-height: 2rem;
      opacity: 0.6;
    }
  }
}

.Modal:focus {
  outline: none;
}

.ModalOverlay {
  position: absolute;
  background: $bg-overlay;
  width: 100vw;
  height: 100vh;
}
