.TopicListItem {
  background: $bg-content;
  min-height: 4rem;
  @include box-shadow-gray();
  display: grid;
  grid-template-columns: 1fr 64px;
  margin-bottom: $buffer-sm;
  cursor: pointer;

  .TopicListItem__title {
    line-height: 4rem;
    font-size: 1.2rem;
    font-weight: bold;
    padding-left: $buffer-sm;
  }

  .TopicListItem__button {
    position: relative;

    .icon {
      @include center();
      font-size: 32px;
      opacity: 0.4;
    }
  }
}

@media only screen and (min-width: 768px) {
  .TopicListItem:hover {
    @include box-shadow-gray-lg();
  }
}
