.TopicEditForm {
  background: $bg-content;

  input {
    line-height: 4rem;
    border: none;
    font-size: 1.2rem;
    font-weight: bold;
    padding-left: $buffer-lg;
    width: 100%;
    background: $bg-content;
  }

  input:focus {
    outline: none;
  }
}
