.TopicHeader,
.TopicHeader--search {
  display: grid;
  grid-template-columns: 64px 1fr;
  position: fixed;
  top: 0; right: 0; left: 0;
  height: 3rem;
  @include box-shadow-gray-lg();
  -webkit-transition: background-color 0.25s ease-out;
          transition: background-color 0.25s ease-out;
  z-index: 1;

  .TopicHeader__mainButton {
    position: relative;
    cursor: pointer;

    .icon {
      @include center();
      font-size: 32px;
    }
  }

  .TopicHeader__contents {
    display: grid;
    grid-template-columns: 1fr 48px 48px;
    position: relative;
    font-size: 1.2rem;
    letter-spacing: 1px;
    line-height: 3rem;

    .TopicHeader__searchButton,
    .TopicHeader__popupButton,
    .TopicHeader__popupButton--active {
      position: relative;
      cursor: pointer;

      .icon {
        @include center();
        font-size: 24px;
      }
    }

    .TopicHeader__popupButton--active {
      background: rgba(255, 255, 255, 0.1);

      .icon {
        color: white;
      }
    }
  }
}

.TopicHeader {
  background: $bg-theme;
}

.TopicHeader--search {
  background: $bg-content;
  color: gray;

  input {
    height: 100%;
    background: none;
    border: none;
    // animation: appear 0.5s ease-out;
  }

  input:focus {
    outline: none;
  }
}
