.TopicPointsList {
  padding-bottom: 3rem;
}

@media only screen and (min-width: 768px) {
  .TopicPointsList {
    .TopicPointsList__list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
