.UserHeader {
  display: grid;
  grid-template-columns: 64px 1fr;
  position: fixed;
  top: 0; right: 0; left: 0;
  height: 3rem;
  @include box-shadow-gray-lg();
  -webkit-transition: background-color 0.25s ease-out;
          transition: background-color 0.25s ease-out;
  z-index: 2;

  .UserHeader__mainButton {
    position: relative;

    .icon {
      @include center();
      font-size: 32px;
    }
  }
}

.UserHeader {
  background: $bg-theme;

  .UserHeader__contents {
    position: relative;
    font-size: 1.4rem;
    letter-spacing: 2px;
    line-height: 3rem;

    .UserHeader__searchButton {
      position: absolute;
      top: 0; bottom: 0; right: 0;
      width: 64px;
      cursor: pointer;

      .icon {
        @include center();
        font-size: 24px;
      }
    }
  }
}
