.TopicFooter {
  position: fixed;
  right: 0; bottom: 0; left: 0;
  display: grid;
  grid-template-columns: 1fr 64px;
  height: 3rem;
  background: $bg-content;
  @include box-shadow-gray-lg();
  line-height: 3rem;
  font-size: 1.2rem;

  .TopicFooter__textBox {
    padding-left: $buffer-sm;
    opacity: 0.8;
    cursor: pointer;
  }

  .TopicFooter__button {
    position: relative;
    background: none;
    border: none;
    @include box-shadow-gray();
    cursor: pointer;

    .icon {
      @include center();
      font-size: 24px;
    }
  }
}

@media only screen and (min-width: 768px) {
  .TopicFooter {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    right: 10%; left: 10%;
  }
}
