.TopicPointForm {
  position: relative;
  padding: $buffer-lg;
  background: $bg-content;
  max-height: 200px;
  overflow-y: scroll;

  ul {
    .TopicPointForm__bullet {
      display: grid;
      grid-template-columns: 24px 1fr;
      margin-bottom: $buffer-sm;

      .TopicPointForm__bulletIcon {
        position: relative;

        .icon {
          @include center();
          font-size: 8px;
        }
      }
    }
  }

  textarea {
    width: 100%;
    resize: none;
    background: $bg-content;
    border: none;
    white-space: pre-wrap;
  }

  textarea:focus {
    outline: none;
  }
}

.TopicPointForm__footer {
  position: relative;
  height: 2.5rem;
  background: $bg-content;

  .TopicPointForm__footerButton {
    display: inline-block;
    position: relative;
    width: 48px;
    height: 100%;

    .icon {
      @include center();
      font-size: 24px;
      opacity: 0.6;
    }
  }

  .TopicPointForm__footerInfoBox {
    position: absolute;
    top: 0; right: $buffer-sm;
    opacity: 0.4;
    font-style: italic;
    line-height: 2.5rem;
  }
}
