.AppNav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: fixed;
  right: 0; bottom: 0; left: 0;
  height: 3rem;
  @include box-shadow-gray-lg();

  .AppNav__link {
    position: relative;
    border-right: 1px solid gray;
    background: $bg-content;
    color: black;

    .AppNav__linkIcon {
      @include center();
      font-size: 32px;
      opacity: 0.6;
    }
  }

  .AppNav__link.active {
    color: white;
    background: $bg-theme;

    .AppNav__linkIcon {
      opacity: 1;
      text-shadow: 1px 1px black;
    }
  }

  .AppNav__link:last-of-type {
    border-right: none;
  }
}
