.UsersListItem {
  display: grid;
  grid-template-columns: 4rem 1fr;
  background: $bg-content;
  height: 3rem;
  @include box-shadow-gray();

  .UsersListItem__friendBox {
    position: relative;

    .UsersListItem__friendBoxIcon {
      @include center();
      font-size: 24px;
      opacity: 0.6;
    }
  }

  .UsersListItem__userInfo {
    line-height: 3rem;
    text-decoration: none;
    color: black;
  }
}
